<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Chrome Theatre</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<link rel="stylesheet" href="lib/css/zenburn.css">
  </head>
	<body>
		<div class="reveal" ng-app="TheatreApp">
      <h2 align="center" style="margin-top:30px">Chrome Theatre</h2>
			<div class="slides" id="myTheatre" ng-controller="TheatrePresentCtrl">
        <section ng-repeat="video in video_list">
            <a class="media-left" href="{{ video.href }}">
            </a>
            <img style="height:400px;" ng-src="{{ video.thumbnail }}" alt="{{ video.href }}">
            <h5>
              {{ video.title }}
            </h5>
        </section>
        <section>
        </section>
      </div>
    </div>

		<script src="../jquery.min.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script src="angular.js"></script>
		<script src="my_theatre.js"></script>
		<script src="my_theatre_data.js"></script>
	</body>
</html>
